.header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 10;
    transition: var(--transition);
}
.header-scroll {
    background-color: white;
    padding: 14px 0;
    transition: var(--transition);
}
.header-content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.logos-mobile {
    display: none;
}

.logo-full {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    height: 120px;
    width: auto;
    transition: var(--transition);
}
.logo-karakuz-el {
    height: 100%;
}
.logo-texts {
    height: 80%;    
    gap: 10px;
    align-items: flex-start;
}
.logo-karakuz-number {
    transform: translate(-176px, 50px);
    transition: var(--transition);
}
.logo-karakuz-number, .logo-karakuz-text {
    height: 44px;
    transition: var(--transition);
}
.logo-texts-scroll {
    flex-direction: row;
    transition: var(--transition);
}
.logo-full-scroll {
    height: 44px;
    transition: var(--transition);
}
.logo-karakuz-number-scroll {
    transform: translate(0px, -1px);
    transition: var(--transition);
}
.logo-karakuz-number-scroll, .logo-karakuz-text-scroll {
    height: 34px;
    transition: var(--transition);
}
.logo-bftn {
    height: 84px;
    transition: var(--transition);
}
.logo-bftn-scroll {
    height: 44px;
    transition: var(--transition);
}



/* menu ========================*/
.nav {
    padding: 70px 30px 30px;
    position: fixed;
    top: 0;
    right: -500px;
    background: white;
    max-width: 500px;
    width: 100%;
    column-count: 2;
    transition: 0.2s ease-in-out;
    height: 100vh;
    display: flex;
    z-index: 12;
    overflow: hidden;
}
.nav-pattern {
    position: absolute;
    bottom: 0;
    left: 60px;
    z-index: 0;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    padding-bottom: 16px;
}
.nav ul li a {
    color: var(--black); /* Цвет для обычных ссылок */
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: none; /* Убираем подчеркивание */
    font-family: 'druktextwidecyr-heavy';
}
.nav ul li a:hover {
    color: var(--main); /* Цвет при наведении */
    text-decoration: none; /* Добавляем подчеркивание при наведении */
}
  
.nav a.active {
    color: var(--main); /* Цвет для активной ссылки */
    text-decoration: none; /* Добавляем подчеркивание для активной ссылки */
}
  
.nav-open {
    right: 0px;
    transition: 0.2s ease-in-out;
}
  
.menu-open {
    cursor: pointer;
    transition: var(--transition);
    width: 44px;
    height: 44px;
    background-color: var(--main);
}
.menu-open svg {
    width: 100%;
    height: 100%;
}
.menu-open:hover {
    transform: rotate(180deg);
    transition: var(--transition);
}
.close-menu {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--main);
    padding: 10px;
    transition: var(--transition);

}
.close-menu:hover {
    transform: rotate(180deg);
    transition: var(--transition);
}
.close-menu svg {
    width: 100%;
    height: 100%;
}
/* Упростите стили для оверлея */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; /* Меньший z-index, чем у меню */
    display: none; /* Скрываем по умолчанию */
}
.no-scroll {
    overflow: hidden;
}





@media (max-width: 480px) {
    .logos {
        display: none;
    }
    .logos-mobile {
        display: block;
        height: 32px;
    }
}
